@indentation: 30px;
@paddingFromTop: 1em;
@paddingInCodeStyle: 2em;

@font-face{
    font-family: 'Aller';
    src: url('../fonts/Aller_Bd.ttf');
}
@font-face{
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Bold.ttf');
}
body {
    background-color: #734F95;
    padding-top: @paddingFromTop;
    padding-bottom: @paddingFromTop;
}

.page-title {
    font-family: 'Aller';
    color : #9EFFFF;
    font-size: 6em;
    padding-bottom: 0.2em;
}

.mainContent {
    background-color: #9EFFFF;
}

.lineNumber {
    padding: @paddingInCodeStyle 0em;
    text-align: right;
    font-style: italic;
}

.code-style {
    padding: @paddingInCodeStyle 0em;
    font-family: 'Inconsolata';
    directive {
        color: #004a43;
    }
    symbol {
        color: #808030;
    }
    include_value {
        color: #3D3DFF;
    }
    type {
        color: #5999B7;
        font-weight: bold;
    }
    null {
        color: #7d0045;
    }
    value {
        color: #837800;
    }
    identifier {
        color: #2929AF;
        cursor: pointer;
    }
    keyword {
        color: #CD2E33;
        font-weight: bold;
    }
    comment {
        color: #4E79FF;
        font-style: italic;
    }
    .block {
        margin-left: @indentation;
    }
    .code-expander {
        cursor: pointer;
        vertical-align: text-top;
        width: 1em;
        height: 1em;
    }
}

.identifierTooltip {
    display: none;
    position: absolute;
    background-color: #734F95;
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-family: 'Inconsolata';
}