@indentation: 30px;
@paddingFromTop: 1em;
@paddingInCodeStyle: 2em;
@baseColor: #000000;
@backgroundColor: #FFFFFF;
@titleBackgroundColor: #DDD;
@variableBackgroundColor: #D2DFD2;
@functionBackgroundColor: #DFE5EE;
@documentationPrototypeSize: 1.5em;
@font-face {
    font-family: 'Aller';
    src: url('../fonts/Aller_Bd.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/Inconsolata-Bold.ttf');
}

body {
    background-color: @backgroundColor;
    padding-top: @paddingFromTop;
    padding-bottom: @paddingFromTop;
}

.page-header {
    font-family: 'Aller';
    color: @baseColor;
    background-color: @titleBackgroundColor;
    padding-bottom: 0.2em;
    padding-left: 3em;
    margin: 0px;
    border: 0px;
    .title {
        font-size: 6em;
    }
    .description {
        font-size: 2em;
        padding-left: 4em;
        padding-right: 1em;
    }
}

.page-footer {
    font-family: 'Aller';
    color: @baseColor;
    background-color: @titleBackgroundColor;
    color: #888;
    text-align: center;
    font-style: italic;
    font-size: 1em;
    padding: 0.2em 0em;
}

s .mainContent {
    background-color: @backgroundColor;
}

.lineNumber {
    padding: @paddingInCodeStyle 0em;
    text-align: right;
    font-style: italic;
}

directive {
    color: #004a43;
}

symbol {
    color: #808030;
}

include_value {
    color: #3D3DFF;
}

type {
    color: #5999B7;
    font-weight: bold;
}

null {
    color: #7d0045;
}

value {
    color: #837800;
}

identifier {
    color: #2929AF;
    cursor: pointer;
}

keyword {
    color: #CD2E33;
    font-weight: bold;
}

comment {
    color: #4E79FF;
    font-style: italic;
}

.code-style {
    padding: @paddingInCodeStyle 0em;
    font-family: 'Inconsolata';
    .block {
        margin-left: @indentation;
    }
    .code-expander {
        cursor: pointer;
        vertical-align: text-top;
        width: 1em;
        height: 1em;
    }
}

.documentation {
    padding: 2em 1em;
    .part {
        font-family: 'Aller';
        font-size: 2.5em;
    }
    .doc-variable {
        margin: 1.5em 0em;
        font-family: 'Inconsolata';
        .variable-declaration {
            background: @variableBackgroundColor;
            font-size: @documentationPrototypeSize;
            font-style: oblique;
            padding-left: 0.5em;
        }
        .doc-text-variable {
            border: 0.2em solid @variableBackgroundColor;
            padding: 0.5em;
            font-size: 1.2em;
        }
    }
    .doc-function {
        margin: 1.5em 0em;
        font-family: 'Inconsolata';
        .prototype {
            background: @functionBackgroundColor;
            font-size: @documentationPrototypeSize;
            font-style: oblique;
            padding-left: 0.5em;
        }
        .doc-text {
            border: 0.2em solid @functionBackgroundColor;
            padding: 0.5em;
            font-size: 1.2em;
        }
        .category {
            background: @functionBackgroundColor;
            font-size: 1.5em;
            padding-left: 0.5em;
        }
    }
}

.identifierTooltip {
    display: none;
    position: absolute;
    background-color: rgba(102, 102, 102, 0.94);
    padding: 10px;
    color: #fff;
    font-size: 1em;
    font-family: 'Inconsolata';
}
